<div class="login-container">
  <div class="top-div">
    <div class="bg-image">
      <%= image_tag "/images/games.jpeg", class: "bg-image"%>
    </div>
    <div class="login-form">
      <h4>Login</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>
