<div id="card-container">

  <h1>Game</h1>
  <ul>
    <li class="test">Score</li>
    <li><input type="button" value="Reset"></li>
  </ul>
</div>
<div id="cards">
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
  <div class="hidden_card"><p><i></i></p></div>
</div>
