<div class='portfolio-new'>
  <div class="opaque">
  </div>

    <div class="games-search-view">
      <div class="slides-window">
        <ol id="slides" start="1">
          <li class="slide slide-0">
            <div class="top-slide">
              <h1>Search</h1>
              <%= render partial: 'partials/search' %>
            </div>
            <div class="btm-slide">
              <div class="search-results">
                <div id="games"><%= render 'partials/games' %></div>
              </div>
            </div>
          </li>

          <li class="slide slide-1">
            <div class="top-slide">
              <h1>Browse</h1>
            </div>
            <div class="btm-slide">
              <%= render partial: 'game', collection: @games %>
            </div>
          </li>


        </ol>
        <div id="credit">Page No.<span id="count">1</span></div>
      </div>
    </div>

    <span class="nav fa fa-chevron-left fa-3x" id="left"></span>
    <span class="nav fa fa-chevron-right fa-3x" id="right"></span>

</div>
