<div class='portfolio-new'>
    <div class="games-search-form">
      <div class="search-window">
        <ol id="slides" start="1">
          <li class="slide slide-0">
            <div class="top-slide">
              <h1>Search</h1>
              <div class="search-form">
                <%= form_tag(games_path, :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], size: 50, placeholder: "Search Games" %>
                    <%= submit_tag "Search", class: "search-button" %>
                <% end %>
              </div>
            </div>
            <div class="btm-slide">
              <%= render partial: 'game', collection: @games %>
            </div>
          </li>

          <li class="slide slide-1"></li>

          <li class="slide slide-2"></li>

          <li class="slide slide-3"></li>

          <li class="slide slide-4"></li>
        </ol>
        <div id="credit">Page No.<span id="count">1</span></div>
      </div>
    </div>
    <span class="nav fa fa-chevron-left fa-3x" id="left"></span>
    <span class="nav fa fa-chevron-right fa-3x" id="right"></span>

</div>
