<div class="search-form">
  <%= form_tag games_path, :method => 'get', :id => "games_search" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", class: "search-button", :name => nil %>
  <% end %>
</div>
