<div class="title-container">
  <div class="top-div">
    <div class="bg-image">
      <%= image_tag "/images/games.png", class: "bg-image"%>
    </div>

    <%= image_tag "/images/start.png", onclick:"handleWebClick();", class: "start-button start animated infinite flash"%>

  </div>
</div>
