<div class="title-container">
  <div class="bg-image">
    <%= image_tag "/images/games.png" %>
  </div>
  <div class="top-div">
    <%= image_tag "/images/start.png", onclick:"handleWebClick();", class: "start-button start animated infinite flash"%>
  </div>

  <div class="bottom-div">
  </div>
</div>
