<div class="friends-list">

			<div class="comments">
        <div class="list-direction">
          <ul>
            <li>
              <%= comment.body %>
            </li>

            <li>
              <%= link_to 'Edit', edit_comment_path(comment) %>
            </li>

            <li>
              <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </div>
		</div>
</div>
