<div class="game-index">
  <div class="game-index-top">
    <h2>Polaroid Images / Cards</h2>
    <p>The box-shadow property can be used to create paper-like cards:</p>
  </div>

  <div class="game-index-btm">
    <%= render partial: "partials/game"%>
  </div>
</div>
