<section class="fill-height-or-more">
  <div class="title">
    <%= render partial: "partials/title" %>
  </div>

  <div class="web-1">
    <div class="content">
      <%= render partial: "partials/project" %>
    </div>
  </div>
</section>
