<div class="game-index">
  <div class="game-index-top">
    <h1>Kin-ect</h1>
    <h3>&lt;Where friends come to play&gt;</h3>
  </div>

  <div class="game-index-btm">
    <%= render partial: "partials/game"%>
  </div>
</div>
