<div class="index-side">
	<div class="index-container">
    <div class="list-direction">
    </div>
    <div class="players-list">
      <%= image_tag "/images/man.png", class: "man" %>
      <%= image_tag "/images/word-bub-2.png", class: "word-bub-2 animated bounceInDown" %>
    </div>
	</div>
</div>

<div class="game-index">
  <div class="game-index-top">
    <h1>Kin-ect</h1>
    <h3>&lt;Where <text class="color-1">f</text><text class="color-2">r</text><text class="color-3">i</text><text class="color-4">e</text><text class="color-5">n</text><text class="color-6">d</text><text class="color-7">s</text> come to play&gt;</h3>
  </div>

  <div class="game-index-btm">
    <%= render partial: "partials/game"%>
  </div>
</div>
