<div class="index-container">

  <div class="index-top">

    <div class="section">
      <div class="games-index-header">
        <%= image_tag "/images/games.png", size: "700x700", class: "animated infinite pulse"%>
        <h1>Welcome to Kinect4</h1>
      </div>
    </div>

  </div>

  <div class="index-bot">
    <h4 class="animated infinite flash">(press start)</h4>
  </div>

</div>
