<div class="game-show">

  <div class="game-show-top">
    <%= render partial: "partials/game-box" %>
  </div>

  <div class="game-show-side">
    <%= image_tag "/images/woman-excite.png", class: "woman-excite"%>
    <%= image_tag "/images/speech-left.png", class: "speech-left animated bounceInDown" %>
  </div>

</div>
