.alive {
  visibility: visible;
}

.nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
}

.nav:hover {
  color: #5AF0F0; opacity: .9;
}

#left {
  left: 3%;
}

#right {
  right: 3%;
}

#credit {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #eaeaea;
  font-family: 'Cutive Mono';
}
