

.search-window {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
}



.slide {
  list-style: none;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #ccc;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  .top-slide {
    flex: 1;
    width: 70%
  }
  .btm-slide {
    flex: 2;
    width: 70%
  }
}

.alive {
  visibility: visible;
}

.nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
}

.nav:hover {
  color: #5AF0F0; opacity: .9;
}

#left {
  left: 3%;
}

#right {
  right: 3%;
}

#credit {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #eaeaea;
  font-family: 'Cutive Mono';
}
