.top-slide {
  display: flex;
  text-align: justify;
  align-content: center;
  width: 70%;
  flex: 1;

  h1 {
    font-family: "Cutive Mono";
    font-weight: lighter;
    font-size: 3em;
    padding: 1em;
    padding-left: 2em;
  }
  input[type="text"]{
    margin-top: 9.5em;
  }
}

.btm-slide {
  display: flex;
  flex-direction: column;
  font-family: "Cutive Mono";
  overflow: auto;
  width: 80%;
  flex: 3;


  .grid-items {
    height: 50%;
    padding: 1em;
    font-family: "Cutive Mono";
    font-size: 1em;

    input[type="submit"]{
      margin-top: 1em;
      font-family: "Cutive Mono";
      background:  #0F375D;
      border-radius: .8em;
      color: white;
      font-size: 1em;
      border: none;

    }
  }

  .grid-items:hover {
    background: #2C464E;
    padding: .5em;
  }
}
