.portfolio-new {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("/images/friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  position: relative;
  .spring {
    flex: 1;
  }
  .opaque {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #094356; opacity: .3;
  }
}
