.portfolio-new {
  display: flex;
  height: 100%;
  overflow: hidden;
  font-family: "Amatic SC";

  .left {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #A8D4E1, #D7F1F8);
    padding: 3em 1em;
    overflow: scroll;
  }

  .right {
    flex: 1;
    padding: 2em;
    background: linear-gradient(to bottom, #E9F6FA,rgba(218, 229, 230, .5));


    h1 {
      letter-spacing: 1px;
      color: #0B2433;
      padding-top: .5em;
      padding-left: .5em;
      font-family: "Helvetica";
      font-size: 3em;
      text-shadow: 2px 2px #BEC67A;
    }

    input[type='text'] {
      height: 2.5em;
      width: 25em;
      border: 3px;
      border-radius: 4px;
      margin-left: 1em;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #dedede;
        text-align: center;
        letter-spacing: .2em;
        height: 3em;
      }
    }

    input[type='submit']{
      display: flex;
      margin-left: 1em;
      font-family: "Amatic SC";
      background:none;
      border:none;
      font-size: 1.5em;
      color: #F5F39F;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
      background: #7A7C6A;
    }
    form {
      display: flex;
      padding: 1em;
    }

  }
  .spring {
    flex: 1;
  }
}
