.portfolio-new {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("/images/friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  position: relative;
  .spring {
    flex: 1;
  }
  .opaque {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #094356; opacity: .3;
  }

}

table, td, th {
  border: 1px solid white;
}

.table-items {
  width: 100%;

  table {
    display: flex;
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    justify-content: left;
  }
  th {
    width: 100%;
    height: 5em;
    text-align: left;
  }

  th .asc {
    background-image: url("/images/up_arrow.png");
    background-size: contain;

  }
  th .desc {
    background-image: url("/images/down_arrow.png");
    background-size: contain;
  }

  th .current {
    padding-right: 2em;;
    background-repeat: no-repeat;
    background-position: right center;
  }

}
