.friends-list {
  width: 16%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  h2 {
    font-family: "Cutive Mono";
  }
// friends list names
  .friends-names {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
    text-align: left;

    ul {
      list-style-type: none;
      margin: 0;
      padding: .5em;

    }

    li {
      font-family: "Cutive Mono";
      font-size: 1.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    li:last-child {
      border: none;
    }

    li a {
      text-decoration: none;
      color: #000;
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
      display: block;
      width: 100%;
    }

    li a:hover {
      font-size: 1.5em;
      background: #f6f6f6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

// friends list names
  .players-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
    text-align: left;

    ul {
      list-style-type: none;
      margin: 0;
      padding: .5em;

    }

    li {
      font-family: "Cutive Mono";
      font-size: 1.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    li:last-child {
      border: none;
    }

    li a {
      text-decoration: none;
      color: #000;
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
      display: block;
      width: 100%;
    }

    li a:hover {
      font-size: 1.5em;
      background: #f6f6f6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.user-show {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .user-show-top {
    width: 100%;
    display: flex;
    flex: 1.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/images/games-hands.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    h2 {
      font-family: "Cutive Mono";
      font-size: 2em;
      color: white;
      padding: 1em;
      margin-top: 10%;
    }

    @media all and (min-width: 960px) {
        h1 {
          font-size: 5vw;
        }
      }

    @media all and (max-width: 959px) and (min-width: 600px) {
      h1 {
        font-size: 5.5vw;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    @media all and (max-width: 599px) and (min-width: 50px) {
      h1 {
        align-items: center;
        font-size: 6vw;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .user-show-btm {
    width: 97%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em;
  }

  .box {
    display: flex;
    width: 15em;
    height: 15em;
    min-width: 15em;
    background: rgba(64,64,64,0.6);
    margin-right: 1em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);


    a {
      height: 100%;
      width: 100%;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .title {
      position: absolute;
      height: 1.5em;
      width: 100%;
      bottom: 0;
      left: 0;
      background: rgba(64,64,64,0.6);
      text-align: center;
      line-height: 1.5em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: white;
      font-family: "Cutive Mono";

    }
  }

  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(15,58,73,0.7);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sub-btn {
      input[type="submit"] {
        margin: 1em;
        background: #74DBFF;
        border-radius: 1em;
        font-size: 1.5em;
        cursor: pointer;
        border: none;
        font-family: "Cutive Mono";
        color: white;
        margin: 1em;

      }
    }
    .vote-btns {
      input[type="submit"] {
        margin: 1em;
        background: pink;
        border-radius: 1em;
        font-size: 1em;
        font-family: "Cutive Mono";
      }
    }
  }

  .hacky-shim {
    min-width: .25em;
    width: .25em;
    height: 1em;
  }
}
.box:hover .overlay {
  bottom: 0;
  height: 50%;
}
